<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonbanjo.cupsprintservice"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="0.21JfBeta" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.START_PRINT_SERVICE_CONFIG_ACTIVITY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.jonbanjo.cupsprint.CupsPrintApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <service
            android:name="com.jonbanjo.printservice.JfPrintService"
            android:permission="android.permission.BIND_PRINT_SERVICE" >
            <intent-filter>
                <action android:name="android.printservice.PrintService" />
            </intent-filter>

            <meta-data
                android:name="android.printservice"
                android:resource="@xml/printservice" />
            </service>

        <activity
            android:name="com.jonbanjo.cupsprint.PrinterMainActivity"
            android:exported="true"
            android:label="@string/title_activity_printer_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jonbanjo.cupsprint.PrinterPrintToActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_printer_print_to" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/postscript" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jonbanjo.cupsprint.PrinterPrintDefaultActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_printer_print_default" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/postscript" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jonbanjo.cupsprint.PrinterAddEditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_printer_add_edit"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jonbanjo.cupsprint.PrintJobActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_print_job"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jonbanjo.cupsprint.PpdGroupsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_ppd_groups" >
        </activity>
        <activity
            android:name="com.jonbanjo.cupsprint.PpdSectionsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_ppd_sections" >
        </activity>
        <activity
            android:name="com.jonbanjo.cupsprint.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_about"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="com.jonbanjo.cupsprint.MimeTypesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_mime_types" >
        </activity>
        <activity
            android:name="com.jonbanjo.cupsprint.CertificateActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_certificate"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jonbanjo.printservice.ServicePrintJobActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/title_activity_advanced_settings"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="com.jonbanjo.cupsprint.JobListActivity"
            android:label="@string/title_activity_job_list" >
        </activity>
    </application>

</manifest>